body {
	margin: 0
	padding: 0;
	box-sizing: border-box;
}

#image {
	border: 1px solid transparent;
	background: url(https://res.cloudinary.com/barbzy-dev1/image/upload/v1569413300/dollar-resized4_x83i65.jpg) top center no-repeat;
	height: 11vh;
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	opacity: 0.8;
	background-color: black;
}

#nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo-div {
	padding: 5px;
	width: 25%;

}

#logo {
	max-width: 100%;
    height: auto;
}

#menu {
	width: 40%;
	margin-right: 10px;
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	align-self: center;
}

#menu li a {
	text-align: center;
	text-decoration: none;
	color: white;
	margin: 0 15px;
	padding: 5px;
	opacity: ;
	font-weight: bold;
}

#menu li a:hover {
	color: #00B300;
}

#data {
	position: relative;
	top: 15vh;
	width: 95%;
	margin: auto;
	margin-bottom: 70px;
	border: 1px solid grey;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#data h3 {
	width: 90%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: center;
}

#data h5 {
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	opacity: 0.4;
}

#calculator {
	width: 95%;
	margin: auto;
	display: flex;
	flex-direction: row;
	padding: 5px;
	justify-content: center;
}

.extra {
	width: 95%;
	margin: auto;
}

#assets {
	padding: 5px;
	margin-right: 20px;
	width: 40%;
}

#liabilities {
	margin-left: 20px;
	padding: 5px;
	width: 40%;
}

#assets p, #liabilities p {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

#displayWorth {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	padding: 5px;
	margin: 20px auto;
	font-size: 16px;
	font-weight: bold;
}

#rule {
	border: 1px solid #00B300;
	width: 168px;
}

.entry {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}

.entry label {
	font-size: 18px;
}

#assets input, #liabilities input {
	border: 1px solid grey;
	box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
	outline: none;
	height: 25px;
}

#assets input:focus, #liabilities input:focus {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 

#moreAssets button, #moreLiabilities button {
	background: rgba(192,192,192,0.9);
	outline: none;
}

#moreAssets button:hover, #moreLiabilities button:hover {
	color: #00B300;;
}

#moreAssets, #moreLiabilities {
}

.addItems {
	margin-top: 15px;
	margin-bottom: 15px;

}

#justAssets, #justLiabilities {
	display: none;
}

#totalAssets, #totalLiabilities {
	margin-top: 35px;
	margin-bottom: 15px;
	font-size: 16px;
}

#worth {

}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	background-color: #3A3A3A;
	color: white;
	font-style: normal;
	font-weight: bold;
	line-height: 17px;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


@media screen and (max-width: 900px) {
	#calculator {
		flex-direction: column;
	}

	#assets, #liabilities {
		border: 1px solid grey;
		width: 90%;
		margin: auto;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}

	#assets {
		margin-bottom: 30px;
	}

	#menu {
		width: 20%;
	}
}


