body {
	margin: 0
	padding: 0;
	box-sizing: border-box;
}

nav li {
	display: inline-block;
	margin-left: 40px;
  }
  
  .navbar-nav .nav-link,
  .navbar-light .navbar-nav .nav-link {
	color: #fff;
	/* border-bottom: 2px solid yellow; */
  }
  
  .navbar-nav li:last-child{
	margin-right: 30px;
  }
  
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:focus {
	color: yellow;
  }
  
  .navbar-light{
	background: url(../css/img/header.jpg);
  }
  
  #logo {
	height: 80px;
	width: auto;
	/* float: left; */
	margin-top: 5px;
	margin-left: 25px;
}

#data {
	position: relative;
	top: 15vh;
	width: 95%;
	margin: auto;
	margin-bottom: 70px;
	border: 1px solid grey;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#data h3 {
	width: 90%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: center;
}

#data h5 {
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	opacity: 0.4;
}

#calculator {
	width: 95%;
	margin: auto;
	display: flex;
	flex-direction: row;
	padding: 5px;
	justify-content: center;
}

.extra {
	width: 95%;
	margin: auto;
}

#assets {
	padding: 5px;
	margin-right: 20px;
	width: 40%;
}

#liabilities {
	margin-left: 20px;
	padding: 5px;
	width: 40%;
}

#assets p, #liabilities p {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

#displayWorth {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	padding: 5px;
	margin: 20px auto;
	font-size: 16px;
	font-weight: bold;
}

#rule {
	border: 1px solid #00B300;
	width: 168px;
}

.entry {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}

.entry label {
	font-size: 18px;
}

#assets input, #liabilities input {
	border: 1px solid grey;
	box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
	outline: none;
	height: 25px;
}

#assets input:focus, #liabilities input:focus {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 

#moreAssets button, #moreLiabilities button {
	background: rgba(192,192,192,0.9);
	outline: none;
}

#moreAssets button:hover, #moreLiabilities button:hover {
	color: #00B300;;
}

#moreAssets, #moreLiabilities {
}

.addItems {
	margin-top: 15px;
	margin-bottom: 15px;

}

#justAssets, #justLiabilities {
	display: none;
}

#totalAssets, #totalLiabilities {
	margin-top: 35px;
	margin-bottom: 15px;
	font-size: 16px;
}

#worth {

}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	background-color: #3A3A3A;
	color: white;
	font-style: normal;
	font-weight: bold;
	line-height: 17px;
    left: 0;
    bottom: 0;
    width: 100%;
}


@media screen and (max-width: 900px) {
	#calculator {
		flex-direction: column;
	}

	#assets, #liabilities {
		border: 1px solid grey;
		width: 90%;
		margin: auto;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}

	#assets {
		margin-bottom: 30px;
	}

	#menu {
		width: 20%;
	}
}


