body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 18px;
}

#image {
	border: 1px solid transparent;
	background: url(https://res.cloudinary.com/barbzy-dev1/image/upload/v1569413300/dollar-resized4_x83i65.jpg) top center no-repeat;
	height: 40vh;
	opacity: 0.8;
	position: relative;
}

#nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#nav ul {
	width: 50%;
	margin-right: 10px;
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-self: center;
}


#logo-div {
	margin-left: 10px;
	padding: 5px;
	width: 25%;
}

#logo {
	max-width: 100%;
    height: auto;
}

#nav li a {
	text-align: center;
	text-decoration: none;
	color: white;
	margin: 0 15px;
	padding: 5px;
	opacity: ;
	font-weight: bold;
}

#nav li a:hover {
	color: #00B300;;
}

#items-on-image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: 20px auto auto auto;
	padding: 5px;
}

#textAndButtons {
	width: 100%;
	margin: 10px;
	padding: 10px;
}

#textAndButtons h3{
	color: white;
}

#buttons {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#showmore {
	background-color: transparent;
	color: white;
	border-radius: 10px;
	width: 164px;
	height: 40px;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	line-height: 22px;
	margin-right: 20px;
	border-color: #00B300;
	outline: none;
	cursor: pointer;
}

#sign-up {
	background-color: #00B300;
	color: white;
	border-radius: 10px;
	width: 164px;
	height: 40px;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	line-height: 22px;
	border-color: #00B300;
	outline: none;
	cursor: pointer;

}

#showmore:hover, #showmore:focus {
	color: #00B300;
}

#sign-up:hover, #sign-up:focus {
	color: #00B300;
	background-color: transparent;
}

#main-content {
	width: 80%;
	margin: 40px auto;
}

#main-content h4 {
	width: 75%;
	margin: 45px auto 0 auto;
	text-align: center;
}

#some-text {
	width: 60%;
	text-align: center;
	line-height: 22px;
	margin: 15px auto 25px auto;
	padding: 30px;
}

#rule {
	border: 1px solid #00B300;
	width: 168px;
}

#features {
	display: flex;
	justify-content: center;
	align-items: center;
}

.feature {
	width: 200px;
	height: 220px;
	padding: 20px;
	text-align: center;
	border: 1px solid #00B300;
	margin-right: 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.feature:hover {
  box-shadow: 2px 10px 16px 0 rgba(0,0,0,0.2);
}

.feature i {
	font-size: 30px;
	margin-bottom: 15px;
}

.feature p {
	text-align: left;
}

#footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	background-color: #3A3A3A;
	color: white;
	font-style: normal;
	font-weight: bold;
	line-height: 17px;
}

.animate {
	opacity: 0;
}

@media screen and (max-width: 900px) {
	#image {
		height: 250px;
	}

	#features {
		flex-direction: column;
		margin-top: 20px;
	}

	.feature {
		margin-right: initial;
		margin-bottom: 20px;
		width: 280px;
		height: 256px;
		line-height: 20px;
	}

	.feature i {
		margin-top: 30px;
	}

	.hide {
		display: none;
	}

	#main-content h4 {
		font-size: 18px;
		width: 90%;
	}

	#image {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	#logo-div {
		position: absolute;
		top: 5px;
		right:70%;
	}

	#items-on-image {
		width: 30%;
		position: absolute;
		bottom: 5px;
		left: 45px;
    }

    #sign-up {
    	width: 148px;
    }

    #nav ul {
    	display: flex;
    	flex-direction: column;
    	justify-content: space-around;
    	align-items: center;
    	height: 180px;
    	margin: 20px 5px 0 0;
    }

    #nav li {
    	padding: 5px;
    }

    #nav li a {
    	margin: 0px;
    }
}

@media screen and (max-width: 600px) {
	#items-on-image {
		font-size: 13px;
	}

	#main-content h4 {
		width: 100%;
		font-size: 13px;
	}

	#sign-up {
		width:120px;
	}
}

@media screen and (min-width: 900px) {

	#image {
		height: 46vh;
	}

    #items-on-image {
    	left: 25px;
    }
}

@keyframes animate {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

