* {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
}

body {
	height: 100vh;
	/* position: relative; */
	transition: background 0.5s ease;
	font-family: "Quicksand", sans-serif;
}

nav li {
	display: inline-block;
	margin-left: 40px;
  }
  
  .navbar-nav .nav-link,
  .navbar-light .navbar-nav .nav-link {
	color: #fff;
	/* border-bottom: 2px solid yellow; */
  }
  
  .navbar-nav li:last-child{
	margin-right: 30px;
  }
  
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:focus {
	color: #00b300;
	border-bottom: 1px solid #00b300;
  }
  
  .navbar-light{
	background: url(../css/img/header.jpg);
  }
  
  #logo {
	height: 80px;
	width: auto;
	/* float: left; */
	margin-top: 5px;
	margin-left: 25px; 
  }

#log-in, #register {
	margin-top:0px;
	text-align: center;
	padding: 30px 5px;
	/* display: flex; */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:#ecf9f2;
	/*border: 1px solid #bbdee0;*/
	height: 400px;
	width: 400px;
    /*border-radius: 30px;*/
}

#log-in {
	padding-top: 45px;
	box-sizing: border-box;
}

input {
	margin: 15px auto 0 auto;
	background: none;
	border: 1px solid #00B300;
	border-radius: 35px;
	height: 35px;
	width: 80%;
	padding: 5px;
	font-size: 13px;
	outline: none;
}

#log-in input {
	margin-bottom: 15px;
	height: 40px;
}

#login, #reg {
	/*border: 1px solid rgba(168, 8, 116, 0.77);*/
	border:1px solid #00B300;
	border-radius: 35px;
	/*background-color: rgba(168, 8, 116, 0.8);*/
	background-color:#00B300;
	color: #ffffff;
	font-size: 16px;
	width: 80%;
	height: auto;
	margin: 20px auto;
	outline: none;
	margin-top: 30px;
	margin-bottom: 40px;

}

#login-alert {
	margin: 30px auto;
	
}

#register-alert {
	margin-top: 10px;
}

#login-alert p, #register-alert p {
	margin: 5px 5px 0 0;
	font-size: 17px;
	display: inline-block;
}

#login-alert button, #register-alert button {
	font-size: 17px;
	color: rgba(168, 8, 116, 0.8);
	height: 26px;
	margin: 3px 0 0 5px;
	padding: 0 2px;
	border: none;
	outline: none;
	background-color: #ffffff;
	display: inline-block;
}

#register {
	display: none;
}


footer {
	background-color: #333;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 80%;
	margin-top: 20px;
  }
  
  .footer-nav {
	list-style: none;
	float: left;
  }
  
  
  
  .footer-nav li {
	display: inline-block;
	margin-right: 20px;
  }
  
  .footer-nav li:last-child {
	margin-right: 0;
  }
  
  .footer-nav li a:link,
  .footer-nav li a:visited, {
	text-decoration: none;
	border: 0;
	color: #888;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
  }
  
  .footer-nav li a:hover,
  .footer-nav li a:active {
	color: #ddd;
  }
  
  footer p {
	color: #fff;
	/* text-align: center; */
	margin-top: 10px;
	line-height: 2em;
  }
  footer h3{
	font-size: 22px;
	color: #00b300;
  }
  footer address{
	font-size: 14px;
	color: #fefffe;
	line-height: 2em;
  }

#login-alert button:hover, #register-alert button:hover {
	/*color: #d888df;*/
	color:#00B300 !important;
}

.animate {
	opacity: 0;
}

#login:hover, #reg:hover {
	color: rgba(168, 8, 116, 0.8);
	background-color: #ffffff;
}

.alert button:hover {
	/*color: rgba(168, 8, 116, 0.5);*/
	color:#00B300;
}

@media screen and (max-width: 900px) {
	#logo h1 {
		margin: 15px;
	}

	#logo {
		height: 50px;
		width: auto;
		margin-top: 5px;
		margin-left: 25px; 
	  }
	

	#logo h2 { 
		display: none;

	}

	#form {
		padding: 20px 0;
		height: 400px;
	}

	#log-in, #register {
		margin-top:0px;
		text-align: center;
		padding: 30px 5px;

		align-items: center;
		background-color:#ecf9f2;
		/*border: 1px solid #bbdee0;*/
		height: 400px;
		width: auto;

	}

}



@keyframes animate {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
}



